USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 25.06.2025 15:02:14 ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  User [webuser]    Script Date: 25.06.2025 15:02:14 ******/
CREATE USER [webuser] FOR LOGIN [webuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 25.06.2025 15:02:14 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [new_user_for_site]    Script Date: 25.06.2025 15:02:14 ******/
CREATE USER [new_user_for_site] FOR LOGIN [new_user_for_site] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS AppPool\DefaultAppPool]    Script Date: 25.06.2025 15:02:14 ******/
CREATE USER [IIS AppPool\DefaultAppPool] FOR LOGIN [IIS AppPool\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [web_reader]    Script Date: 25.06.2025 15:02:14 ******/
CREATE ROLE [web_reader]
GO
/****** Object:  DatabaseRole [db_webreader]    Script Date: 25.06.2025 15:02:14 ******/
CREATE ROLE [db_webreader]
GO
ALTER ROLE [db_datareader] ADD MEMBER [webuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [webuser]
GO
ALTER ROLE [db_webreader] ADD MEMBER [IIS AppPool\DefaultAppPool]
GO
ALTER ROLE [web_reader] ADD MEMBER [IIS AppPool\DefaultAppPool]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS AppPool\DefaultAppPool]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 25.06.2025 15:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[YearPublished] [int] NULL,
	[Genre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
