<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="web_application_new1.exe" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
        </staticContent>
    </system.webServer>
</configuration>
